<!DOCTYPE html>
<html>
  <!--HEAD-->
  <%- include('./partials/head') %>
  <body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <section>
      <article>
         <img id="enotroplano" src="/assets/en otro plano.png">
      </article>
      <article class="ilustraciones">
         <h1>MIS ILUSTRACIONES</h1>
         <h2>DIBUJO DIGITAL Y TRADICIONAL</h2>
         <br>
         <button> <a id="ver" href="/productos/productDetail.html"> VER </a> </button>
      </article>
      <article>
        <% if(locals.lastProduct !== undefined) { %>
          <p>La última ilustración cargada es: <%lastProduct.title%> </p>
        <% } %>
      </article>
   </section>

    <!--FOOTER-->
    <%- include('./partials/footer') %>
  </body>
</html>
