<!DOCTYPE html>
<html lang="en">
<% = include('partials/head') %>
<body>
    <p>Formulario de edición</p>

    <form action="/products/edit" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required>
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" required>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" required>
        <label for="category">Categoría</label>
        <input type="image" name="imagen" id="imagen" required>
        <button type="submit">Editar</button>
<body>
    
</body>
</html>