<!DOCTYPE html>
<html lang="en">
//Head
<% = include('partials/head') %>
<body>
    //Header
    <% = include('partials/header') %>
    
    <p>Formulario de registro</p>

    <form action="/data/users.json/" action="/profile" method="post" enctype="multipart/form-data">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required>
        <label for= "email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <label for="avatar">Imagen de Perfil</label>
        <input type="file" name="avatar" id="avatar" accept=".jpg" required>
        <button type="submit">Cargar</button>

    //Footer
    <% = include('partials/footer') %>
    
</body>
</html>