<header>
    <nav>
       <img class="nav-img-icon" href="/home/index.html" src="/assets/SOUS.jpg">
       <a href="/home/formulario.html"> <img class="nav-img" src="/assets/usuario.png"> </a>
       <img class="nav-img" src="/assets/flecha.png">
    </nav>
 </header>